/*
 * my1cir.css
 */

.my1cir-vdc {
  fill: #ffcccc;
}

.my1cir-gnd {
  fill: #ffcccc;
}

.my1cir-res {
  fill: #ccccff;
}

.my1cir-res-chk {
  fill: #ffff88;
}

.my1cir-switch {
  fill: #ccccff;
}

.my1cir-switch-button-pressed {
  fill: #9999cc;
}

.my1cir-osc {
  fill: #ffcccc;
}

.my1cir-symbol {
  stroke: #000000;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
