/*
 *
 * SimcirJS
 *
 * Copyright (c) 2014 Kazuhiko Arase
 *
 * URL: http://www.d-project.com/
 *
 * Licensed under the MIT license:
 *  http://www.opensource.org/licenses/mit-license.php
 *
// Modified by Azman M. Yusof (azman@my1matrix.org)
// - based on commit e633e0aee2e97eb5cfa590f1cd76c7f53ce4fb46
//   = Fri Feb 2 21:46:02 2018 +0900
// - basically to include inout node
//   = Mon Feb 19 20:49:23 2018 +0800
 */

.simcir-body {
  display: inline-block;
  width:100%; height:100%;
}

.simcir-workspace {
  cursor: default;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
}

.simcir-pin-hole {
  fill: #cccccc;
  stroke: none;
}

.simcir-toolbox {
  fill: #eeeeee;
}

.simcir-scrollbar {
  fill: #cccccc;
}

.simcir-scrollbar-bar {
  fill: #aaaaaa;
}

.simcir-scrollbar-bar:hover {
  fill: #999999;
}

.simcir-connector {
  stroke-width: 1;
  stroke: #0000ff;
  stroke-linecap: round;
}

.simcir-connector-fixed {
  stroke: #000000;
}

.simcir-connector-hot {
  /* stroke: #ff0000; */
}

.simcir-joint-point {
  stroke-width: 3;
}

.simcir-device {
  fill: #cccccc;
  stroke-width: 2;
  stroke: #666666;
}

.simcir-device-selected {
  stroke: #0000ff;
}

.simcir-device-label {
  fill: #000000;
  stroke-width: 0;
  stroke: none;
}

.simcir-device-label-inner {
  fill: #000000;
  stroke-width: 0;
  stroke: none;
}

.simcir-selection-rect {
  fill: none;
  stroke-width: 1;
  stroke: #0000ff;
}

.simcir-node-type-in {
  fill: #ffcc00;
}

.simcir-node-type-out {
  fill: #ffffff;
}

.simcir-node-type-inout {
  fill: #00ccff;
}

.simcir-node-type-power {
  fill: #ff0000;
}

.simcir-node {
  stroke-width: 1;
  stroke: #000000;
}

.simcir-node-hot {
  stroke: #ff0000;
}

.simcir-node-hover {
  stroke: #ffff00;
}

.simcir-node-label {
  fill: #000000;
  stroke: none;
}

.simcir-port {
  stroke-width: 1;
  stroke: #000000;
}

.simcir-port-hole {
  stroke: none;
  fill: #000000;
}

.simcir-json-data-area {
  padding: 0px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}

.simcir-dialog {
  padding: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.simcir-dialog-title {
  margin-right: 4px;
}

.simcir-dialog-close-button {
  fill: #666666;
  stroke: none;
}

.simcir-dialog-close-button:hover {
  fill: #888888;
  stroke: none;
}

.simcir-dialog-close-button-symbol {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
}

.simcir-label-editor {
  width: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  background-color: #f0f0f0;
  outline: none;
}

.simcir-label-editor::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

/* simcir doc */

TABLE.simcir-doc-table {
  border-collapse: collapse;
}

TABLE.simcir-doc-table,
TABLE.simcir-doc-table TH,
TABLE.simcir-doc-table TD {
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
}

TABLE.simcir-doc-table TH,
TABLE.simcir-doc-table TD {
  padding: 16px;
}

TABLE.simcir-doc-params-table {
  border-collapse: collapse;
}

TABLE.simcir-doc-params-table,
TABLE.simcir-doc-params-table TH,
TABLE.simcir-doc-params-table TD {
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
}

TABLE.simcir-doc-params-table TH,
TABLE.simcir-doc-params-table TD {
  padding: 2px;
}

.simcir-doc-title {
  font-weight: bold;
  margin: 16px 0px 0px 0px;
}

.simcir-doc-code {
  padding: 8px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #f0f0f0;
}

div#simcir-node-info {
  position:fixed; bottom:0; right:0; float:right;
  display: block; font-family: "Verdana"; font-size: 12px;
}
